<div class="container theme-showcase" role="main">

<div class="well">
	<div class="row" style="text-align:center">
		<b>INSCRITOS</b>
	</div>
</div>


<div ng-show="load" style="margin-bottom:20px; text-align:center"> <img src="images/ajax-loader.gif"></div>

<div class="table-responsive">
<table class="table table-striped">
	<thead>
	  <tr>
		<th width=100></th>
		<th>Nome ({{list.length}})</th>
		<th></th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="item in list">
		<td><img width="100" src="{{item.image}}"></td>
		<td>{{item.nome}}</td>
	  </tr>
	</tbody>
  </table>
</div>

	
</div> <!-- /container -->